<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
    
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ChupaChupa-Service-Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="ChupaChupa.Service.Validator.AuthenticationValidator, ChupaChupa-Service" />
          </serviceCredentials>
        </behavior>
        <behavior name="ChupaChupa-PublicService-Behavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="ChupaChupa-Service-Binding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <binding name="ChupaChupa-PublicService-Binding">
          <security mode="Transport">
            <message clientCredentialType="None"/>
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service
        behaviorConfiguration="ChupaChupa-Service-Behavior"
        name="ChupaChupa.Service.ServiceContractImpl.ServiceContractImpl">
        <endpoint
          address=""
          binding="wsHttpBinding"
          bindingConfiguration="ChupaChupa-Service-Binding"
          contract="ChupaChupa.Service.ServiceContract.IServiceContract"></endpoint>
        <endpoint
          address="mex"
          binding="mexHttpsBinding"
          contract="IMetadataExchange"></endpoint>
      </service>
      <service
        behaviorConfiguration="ChupaChupa-PublicService-Behavior"
        name="ChupaChupa.Service.ServiceContractImpl.PublicServiceContractImpl">
        <endpoint
          address=""
          binding="wsHttpBinding"
          bindingConfiguration="ChupaChupa-PublicService-Binding"
          contract="ChupaChupa.Service.ServiceContract.IPublicServiceContract"></endpoint>
        <endpoint
          address="mex"
          binding="mexHttpsBinding"
          contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  
  </system.serviceModel>

  <system.webServer>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  
  <log4net configSource="log4net.config"/> 

</configuration>
