<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceContract">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IPublicServiceContract">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://chupachupa47.cloudapp.net/servicecontractimpl/ServiceContractImpl.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceContract"
                contract="ChupaChupaService.IServiceContract" name="WSHttpBinding_IServiceContract" />
            <endpoint address="https://chupachupa47.cloudapp.net/servicecontractimpl/PublicServiceContractImpl.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPublicServiceContract"
                contract="PublicChupaChupaService.IPublicServiceContract"
                name="WSHttpBinding_IPublicServiceContract" />
        </client>
    </system.serviceModel>
</configuration>