<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPublicServiceContract">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IPublicServiceContract1">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://rd00155d522fc9/servicecontractimpl/PublicServiceContractImpl.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPublicServiceContract"
                contract="PrivateService.IPublicServiceContract" name="WSHttpBinding_IPublicServiceContract" />
            <endpoint address="https://rd00155d522fc9/servicecontractimpl/PublicServiceContractImpl.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPublicServiceContract1"
                contract="PublicService.IPublicServiceContract" name="WSHttpBinding_IPublicServiceContract1" />
        </client>
    </system.serviceModel>
</configuration>