@{
    ViewBag.Title = "AddFlux";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
        <li><a href="/Home/Index">Chupa</a></li>
    </ul>
</nav>
<fieldset>
    <p id="boxUserName">Bonjour @ViewBag.userName, voulez-vous vous @Html.ActionLink(" déconnecter ?", "Logout")</p>
</fieldset>
<div class="tile-group" style="width: 100%">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>NOUVEAU FLUX</legend>
            <label>Quelle categorie ?</label>
            <div class="input-control select">
                <select name="name">
                    @foreach (var category in ViewBag.category)
                    {
                        <option>@category.Name</option>
                    }
                </select>
            </div>
            <label>Adresse internet du flux</label>
            <div class="input-control text" data-role="input-control">
                <input type="text" placeholder="URL du flux" name="url">
            </div>
            <input type="submit" value="Validez">
            <div style="margin-top: 20px">
            </div>
        </fieldset>
    }
</div>