@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2></h2>
<h2 id="__form__"></h2>
<div class="example">
    <form>
        <fieldset>
            <legend>Erreur</legend>
            <label>Désolé mais une erreur s'est produite :/</label>
        </fieldset>
    </form>
</div>