@{
    ViewBag.Title = "Article";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="grid fluid">
    <div class="row">
        <div class="span12">
            <div class="panel">
                <div class="panel-header">
                    La galanterie de Poutine censuree par Pekin
                </div>
                <div class="panel-content">
                    <img src="images/poutineArticle.jpg" class="place-left margin10 nlm ntm size5">
                    Lors d'un diner du sommet de l'Asie-Pacifique, le president russe a depose un vetement chaud sur les epaules de la premiere dame chinoise. Le geste tres discute sur Internet a mobilise les censeurs de Pekin sur les reseaux sociaux.
                    De Vladimir Poutine, on connait les mises en scene macho - chasse au tigre, cavalcade torse nu dans les montagnes, prouesses sportives -, mais lors du sommet de l'Asie-Pacifique le president russe a laisse entrevoir un autre aspect de sa personnalite: de la galanterie.
                    Lors du gala d'ouverture de la conference lundi a Pekin, les cameras l'ont surpris en train de deposer un vetement chaud sur les epaules de sa voisine, la premiere dame chinoise. Peng Liyuan accepte l'habit et le conserve quelques instants, avant qu'un assistant ne lui apporte une veste plus appropriee. Pendant ce temps-la, le president chinois Xi Jinping discute avec Barack Obama.
                </div>
            </div>
        </div>
    </div>
</div>
