@{
    ViewBag.Title = "EditCategorie";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<nav class="breadcrumbs" style="margin-top: 20px">
    <ul>
        <li><a href="/Home/Index">Chupa</a></li>
    </ul>
</nav>
<fieldset>
    <p id="boxUserName">Bonjour @ViewBag.userName, voulez-vous vous @Html.ActionLink(" déconnecter ?", "Logout")</p>
</fieldset>
<div class="tile-group" style="width: 100%">
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>EDITION DE LA CATEGORIE</legend>
            <label>Modifier le nom de la categorie</label>
            <div class="input-control text" data-role="input-control">
                <input type="text" placeholder="@ViewBag.catName" name="name">
            </div>
            <input type="submit" value="Modifier">
            <div style="margin-top: 20px">
            </div>
        </fieldset>
    }
</div>